body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

.small-card-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;  /* adjust as needed for space between cards */
  padding: 10px;  /* adjust as needed for padding around the cards */
}

.small-card {
  border: 1px solid rgba(0,0,0,.5);
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
.small-card img {
  width: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.large-card {
  display: flex;
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
.large-card img {
  height: 300px;
}
.about {
  padding-left: 15px;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}