body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

.small-card-container {
  border: 1px solid blue;
  display: flex;
  overflow-x: auto;
  gap: 10px;  /* adjust as needed for space between cards */
  padding: 10px;  /* adjust as needed for padding around the cards */
}

.small-card {
  border: 1px solid yellow;
}

.large-card {
  border: 1px solid red;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}